<div class="grid grid-cols-1 md:grid-cols-4 gap-4 m-10">
  <div class="bg-white rounded-lg border-b-4 border-accent-yellow">
    <div class="md:hidden">
      <div class="grid grid-cols-6  p-5">
        <img src="../assets/1.png" class="h-10 w-10" alt="file-icon">
        <h1 class="col-span-4 text-2xl font-bold">Card title</h1>
        <button><h2 class="text-right"> + </h2></button>
      </div>
    </div>
    <div class="hidden md:grid grid-cols-6 p-5">
      <h1 class="col-span-5 text-2xl font-bold">Card title</h1>
      <img src="../assets/1.png" class="h-10 w-10" alt="file-icon">
    </div>
  </div>
  <div class="bg-white p-5 rounded-lg border-b-4 border-accent-yellow">02</div>
  <div class="bg-white p-5 rounded-lg border-b-4 border-accent-yellow">03</div>
  <div class="bg-white p-5 rounded-lg border-b-4 border-accent-yellow">04</div>
</div>